version: 2
updates:
# Maintain dependencies for GitHub Actions
- package-ecosystem: "github-actions"
  directory: "/.github/workflows"
  schedule:
    interval: "weekly"
    day: "saturday"
    time: "00:01"
    timezone: "America/Sao_Paulo"
  reviewers:
    - "waldirborbajr"
  open-pull-requests-limit: 99
  commit-message:
    prefix: "workflows: "

- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: weekly
    day: "saturday"
    time: "00:01"
    timezone: "America/Sao_Paulo"
  reviewers:
    - "waldirborbajr"
  commit-message:
    prefix: "build: "
